*.pyc
*.DS_Store
*.mo
.settings/

web_app/cloud_farm/settings/local_settings.py
web_app/.cache/
local_fabfile.py
media/

foreman.procfile
celeryev.pid
_generated_media*
reports/
testing/

commands.txt
.~lock.*
celerybeat.pid
doc/gbk/*.html
doc/gbk/wzs/*.html
.idea/
.pydevproject
/.metadata/
trello_settings.py

# pytest
.cache

#mkdocs
site/
build
dist
src/django_l10n_extensions.egg-info