{% extends "l10n_extensions/testapp/base.html" %}
{% load i18n l10n %}
{% block page_title %}translate example{% endblock %}
{% block title %}Translate example{% endblock %}

{% block page_content %}
    <div>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{request.path}}"/>
            <select name="language" >
                {% for lang in LANGUAGES %}
                    <option {% if lang.0 == LANGUAGE_CODE %}selected="selected"{% endif %} value="{{ lang.0 }}">{{ lang.1 }}</option>
                {% endfor %}
            </select>
            <button type="submit">Set lang</button>
        </form>
    </div>
<div>
    <h3>Choose your season</h3>
    <ul>
        <li><label for="season_spring"></label><input type="checkbox" id="season_spring">{% trans 'Spring' %}</li>
        <li><label for="season_summer"></label><input type="checkbox" id="season_spring">{% trans 'Summer' %}</li>
        <li><label for="season_fall"></label><input type="checkbox" id="season_spring">{% trans 'Fall' %}</li>
        <li><label for="season_winter"></label><input type="checkbox" id="season_spring">{% trans 'Winter' %}</li>
    </ul>

    <div>
        {% blocktrans with count=42 %}{{ count }} springs were shipped{% endblocktrans %}
    </div>

    <h3>Single vs. Plural</h3>
    <div>
        {% for n in numbers %}
        <ul>
            {{ n }} {% blocktrans count n as n %}car{% plural %}cars{% endblocktrans %}
        </ul>
        {% endfor %}
    </div>

    <h3>Localize numbers</h3>
    <div>
        number = {{ 1234567.89|localize }}
    </div>
    <h3>Localize dates</h3>
    <div>
        date = {{ date|localize }}
    </div>
</div>


{% endblock %}
